<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>760</integer>
    <key>capHeight</key>
    <integer>720</integer>
    <key>copyright</key>
    <string>Copyright 2019 The Kufam Project Authors (https://github.com/originaltype/kufam)</string>
    <key>descender</key>
    <integer>-240</integer>
    <key>familyName</key>
    <string>Kufam</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/07/10 11:54:10</string>
    <key>openTypeHheaAscender</key>
    <integer>900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-400</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Wael Morcos, Artur Schmal</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://originaltype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Original Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://originaltype.com/</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>6</integer>
      <integer>51</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>327</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-400</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>6</integer>
      <integer>13</integer>
      <integer>31</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>66</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ORTY</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1252</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1050</integer>
    <key>postscriptBlueScale</key>
    <real>0.05796</real>
    <key>postscriptBlueShift</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <real>546.8</real>
      <real>561.6</real>
      <integer>572</integer>
      <integer>584</integer>
      <integer>720</integer>
      <integer>732</integer>
      <integer>760</integer>
      <integer>770</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-260</integer>
      <integer>-256</integer>
      <integer>-240</integer>
      <integer>-232</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>108.8</real>
      <real>125.19999999999999</real>
      <integer>136</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>159.6</real>
      <integer>176</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Kufam</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>trademark</key>
    <string>Copyright 2019 The Kufam Project Authors (https://github.com/originaltype/kufam)</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>301</integer>
    <key>xHeight</key>
    <real>546.8</real>
  </dict>
</plist>
