<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>right</string>
      <string>glyphs.right</string>
    </array>
    <array>
      <string>left</string>
      <string>glyphs.left</string>
    </array>
    <array>
      <string>Cut</string>
      <string>glyphs.C_ut</string>
    </array>
    <array>
      <string>Shorter</string>
      <string>glyphs.S_horter</string>
    </array>
    <array>
      <string>Short</string>
      <string>glyphs.S_hort</string>
    </array>
  </array>
</plist>
