<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_B</key>
  <array>
    <string>B</string>
  </array>
  <key>@MMK_L_C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Cdotaccent</string>
    <string>Ccircumflex</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
  </array>
  <key>@MMK_L_E</key>
  <array>
    <string>E</string>
    <string>AE</string>
    <string>OE</string>
    <string>AEacute</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Edotaccent</string>
    <string>Edieresis</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Eogonek</string>
  </array>
  <key>@MMK_L_Euro.PPF</key>
  <array>
    <string>Euro.PPF</string>
  </array>
  <key>@MMK_L_F</key>
  <array>
    <string>F</string>
  </array>
  <key>@MMK_L_G</key>
  <array>
    <string>G</string>
    <string>Gdotaccent</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>uni01E6</string>
  </array>
  <key>@MMK_L_H</key>
  <array>
    <string>A</string>
    <string>H</string>
    <string>I</string>
    <string>N</string>
    <string>Hbar</string>
    <string>Eng</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Adieresis</string>
    <string>Acircumflex</string>
    <string>Amacron</string>
    <string>Atilde</string>
    <string>Aring</string>
    <string>Abreve</string>
    <string>Aogonek</string>
    <string>Hcircumflex</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Idieresis</string>
    <string>Icircumflex</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>Ibreve</string>
    <string>Iogonek</string>
    <string>Idotaccent</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ncommaaccent</string>
    <string>uni1E24</string>
    <string>uni1E2A</string>
  </array>
  <key>@MMK_L_J</key>
  <array>
    <string>J</string>
    <string>IJ</string>
    <string>Jcircumflex</string>
  </array>
  <key>@MMK_L_K</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>@MMK_L_L</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
    <string>Ldot</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
  </array>
  <key>@MMK_L_O</key>
  <array>
    <string>D</string>
    <string>O</string>
    <string>Q</string>
    <string>Eth</string>
    <string>Dcroat</string>
    <string>Oslash</string>
    <string>Dcaron</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ohungarumlaut</string>
    <string>Odieresis</string>
    <string>Ocircumflex</string>
    <string>Omacron</string>
    <string>Obreve</string>
    <string>Otilde</string>
    <string>Oslashacute</string>
    <string>uni1E0C</string>
    <string>uni1E0E</string>
  </array>
  <key>@MMK_L_P</key>
  <array>
    <string>P</string>
  </array>
  <key>@MMK_L_R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>@MMK_L_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Scedilla</string>
    <string>uni1E62</string>
  </array>
  <key>@MMK_L_T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>uni021A</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
  </array>
  <key>@MMK_L_Thorn</key>
  <array>
    <string>Thorn</string>
  </array>
  <key>@MMK_L_U</key>
  <array>
    <string>U</string>
    <string>Uogonek</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Uhungarumlaut</string>
    <string>Udieresis</string>
    <string>Ucircumflex</string>
    <string>Umacron</string>
    <string>Utilde</string>
    <string>Ubreve</string>
    <string>Uring</string>
  </array>
  <key>@MMK_L_W</key>
  <array>
    <string>W</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Wcircumflex</string>
  </array>
  <key>@MMK_L_X</key>
  <array>
    <string>X</string>
  </array>
  <key>@MMK_L_Y</key>
  <array>
    <string>Y</string>
    <string>Ygrave</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Ycircumflex</string>
  </array>
  <key>@MMK_L_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Zcaron</string>
    <string>uni1E92</string>
  </array>
  <key>@MMK_L_ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>@MMK_L_asterisk</key>
  <array>
    <string>asterisk</string>
  </array>
  <key>@MMK_L_asterisk.sc</key>
  <array>
    <string>asterisk.sc</string>
  </array>
  <key>@MMK_L_b.sc</key>
  <array>
    <string>b.sc</string>
  </array>
  <key>@MMK_L_bar</key>
  <array>
    <string>bar</string>
    <string>brokenbar</string>
  </array>
  <key>@MMK_L_braceleft</key>
  <array>
    <string>braceleft</string>
  </array>
  <key>@MMK_L_braceleft.cap</key>
  <array>
    <string>braceleft.cap</string>
  </array>
  <key>@MMK_L_braceleft.sc</key>
  <array>
    <string>braceleft.sc</string>
  </array>
  <key>@MMK_L_braceright</key>
  <array>
    <string>braceright</string>
  </array>
  <key>@MMK_L_braceright.cap</key>
  <array>
    <string>braceright.cap</string>
  </array>
  <key>@MMK_L_braceright.sc</key>
  <array>
    <string>braceright.sc</string>
  </array>
  <key>@MMK_L_bracketleft</key>
  <array>
    <string>bracketleft</string>
  </array>
  <key>@MMK_L_bracketleft.cap</key>
  <array>
    <string>bracketleft.cap</string>
  </array>
  <key>@MMK_L_bracketleft.sc</key>
  <array>
    <string>bracketleft.sc</string>
  </array>
  <key>@MMK_L_bracketright</key>
  <array>
    <string>bracketright</string>
  </array>
  <key>@MMK_L_bracketright.cap</key>
  <array>
    <string>bracketright.cap</string>
  </array>
  <key>@MMK_L_bracketright.sc</key>
  <array>
    <string>bracketright.sc</string>
  </array>
  <key>@MMK_L_c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>cdotaccent</string>
    <string>ccircumflex</string>
    <string>ccaron</string>
    <string>ccedilla</string>
  </array>
  <key>@MMK_L_c.sc</key>
  <array>
    <string>c.sc</string>
    <string>cacute.sc</string>
    <string>cdotaccent.sc</string>
    <string>ccircumflex.sc</string>
    <string>ccaron.sc</string>
    <string>ccedilla.sc</string>
  </array>
  <key>@MMK_L_cent.PPF</key>
  <array>
    <string>cent.PPF</string>
  </array>
  <key>@MMK_L_colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_L_dagger</key>
  <array>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>@MMK_L_degree</key>
  <array>
    <string>degree</string>
  </array>
  <key>@MMK_L_degree.sc</key>
  <array>
    <string>degree.sc</string>
  </array>
  <key>@MMK_L_dollar.PPF</key>
  <array>
    <string>dollar.PPF</string>
  </array>
  <key>@MMK_L_e</key>
  <array>
    <string>e</string>
    <string>ae</string>
    <string>oe</string>
    <string>eogonek</string>
    <string>aeacute</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>edotaccent</string>
    <string>edieresis</string>
    <string>ecircumflex</string>
    <string>ecaron</string>
    <string>emacron</string>
    <string>ebreve</string>
  </array>
  <key>@MMK_L_e.sc</key>
  <array>
    <string>e.sc</string>
    <string>ae.sc</string>
    <string>oe.sc</string>
    <string>egrave.sc</string>
    <string>eacute.sc</string>
    <string>edotaccent.sc</string>
    <string>edieresis.sc</string>
    <string>ecircumflex.sc</string>
    <string>ecaron.sc</string>
    <string>emacron.sc</string>
    <string>ebreve.sc</string>
    <string>eogonek.sc</string>
  </array>
  <key>@MMK_L_exclam</key>
  <array>
    <string>exclam</string>
  </array>
  <key>@MMK_L_exclam.sc</key>
  <array>
    <string>exclam.sc</string>
  </array>
  <key>@MMK_L_exclamdown</key>
  <array>
    <string>exclamdown</string>
  </array>
  <key>@MMK_L_exclamdown.sc</key>
  <array>
    <string>exclamdown.sc</string>
  </array>
  <key>@MMK_L_f</key>
  <array>
    <string>f</string>
    <string>ff</string>
    <string>t_f</string>
  </array>
  <key>@MMK_L_f.sc</key>
  <array>
    <string>f.sc</string>
  </array>
  <key>@MMK_L_florin.PPF</key>
  <array>
    <string>florin.PPF</string>
  </array>
  <key>@MMK_L_g.sc</key>
  <array>
    <string>g.sc</string>
    <string>gdotaccent.sc</string>
    <string>gcircumflex.sc</string>
    <string>gbreve.sc</string>
    <string>gcommaaccent.sc</string>
    <string>uni01E6.sc</string>
  </array>
  <key>@MMK_L_guillemotleft</key>
  <array>
    <string>guilsinglleft</string>
    <string>guillemotleft</string>
  </array>
  <key>@MMK_L_guillemotleft.cap</key>
  <array>
    <string>guilsinglleft.cap</string>
    <string>guillemotleft.cap</string>
  </array>
  <key>@MMK_L_guillemotleft.sc</key>
  <array>
    <string>guilsinglleft.sc</string>
    <string>guillemotleft.sc</string>
  </array>
  <key>@MMK_L_guillemotright</key>
  <array>
    <string>guilsinglright</string>
    <string>guillemotright</string>
  </array>
  <key>@MMK_L_guillemotright.cap</key>
  <array>
    <string>guilsinglright.cap</string>
    <string>guillemotright.cap</string>
  </array>
  <key>@MMK_L_guillemotright.sc</key>
  <array>
    <string>guilsinglright.sc</string>
    <string>guillemotright.sc</string>
  </array>
  <key>@MMK_L_h.sc</key>
  <array>
    <string>a.sc</string>
    <string>h.sc</string>
    <string>i.sc</string>
    <string>n.sc</string>
    <string>eng.sc</string>
    <string>agrave.sc</string>
    <string>aacute.sc</string>
    <string>adieresis.sc</string>
    <string>acircumflex.sc</string>
    <string>amacron.sc</string>
    <string>atilde.sc</string>
    <string>aring.sc</string>
    <string>abreve.sc</string>
    <string>aogonek.sc</string>
    <string>hcircumflex.sc</string>
    <string>igrave.sc</string>
    <string>iacute.sc</string>
    <string>idieresis.sc</string>
    <string>icircumflex.sc</string>
    <string>imacron.sc</string>
    <string>itilde.sc</string>
    <string>ibreve.sc</string>
    <string>iogonek.sc</string>
    <string>idotaccent.sc</string>
    <string>nacute.sc</string>
    <string>ncaron.sc</string>
    <string>ntilde.sc</string>
    <string>ncommaaccent.sc</string>
    <string>uni1E24.sc</string>
    <string>uni1E2A.sc</string>
  </array>
  <key>@MMK_L_hyphen</key>
  <array>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
  </array>
  <key>@MMK_L_hyphen.cap</key>
  <array>
    <string>hyphen.cap</string>
    <string>endash.cap</string>
    <string>emdash.cap</string>
  </array>
  <key>@MMK_L_hyphen.sc</key>
  <array>
    <string>hyphen.sc</string>
    <string>endash.sc</string>
    <string>emdash.sc</string>
  </array>
  <key>@MMK_L_j.sc</key>
  <array>
    <string>j.sc</string>
    <string>jcircumflex.sc</string>
  </array>
  <key>@MMK_L_k</key>
  <array>
    <string>k</string>
    <string>f_k</string>
    <string>f_f_k</string>
    <string>kcommaaccent</string>
  </array>
  <key>@MMK_L_k.sc</key>
  <array>
    <string>k.sc</string>
    <string>kcommaaccent.sc</string>
  </array>
  <key>@MMK_L_l</key>
  <array>
    <string>d</string>
    <string>i</string>
    <string>j</string>
    <string>l</string>
    <string>dotlessi</string>
    <string>dotlessj</string>
    <string>dcroat</string>
    <string>ij</string>
    <string>ldot</string>
    <string>fi</string>
    <string>f_j</string>
    <string>fl</string>
    <string>ffi</string>
    <string>f_f_j</string>
    <string>ffl</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>idieresis</string>
    <string>icircumflex</string>
    <string>imacron</string>
    <string>itilde</string>
    <string>ibreve</string>
    <string>iogonek</string>
    <string>jcircumflex</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
    <string>uni1E0D</string>
    <string>uni1E0F</string>
  </array>
  <key>@MMK_L_l.sc</key>
  <array>
    <string>l.sc</string>
    <string>lslash.sc</string>
    <string>fl.sc</string>
    <string>lacute.sc</string>
    <string>lcommaaccent.sc</string>
  </array>
  <key>@MMK_L_lcaron</key>
  <array>
    <string>dcaron</string>
    <string>lcaron</string>
  </array>
  <key>@MMK_L_ldot.sc</key>
  <array>
    <string>ldot.sc</string>
    <string>lcaron.sc</string>
  </array>
  <key>@MMK_L_n</key>
  <array>
    <string>a</string>
    <string>h</string>
    <string>m</string>
    <string>n</string>
    <string>hbar</string>
    <string>eng</string>
    <string>f_h</string>
    <string>f_f_h</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>adieresis</string>
    <string>acircumflex</string>
    <string>amacron</string>
    <string>atilde</string>
    <string>aring</string>
    <string>abreve</string>
    <string>aogonek</string>
    <string>hcircumflex</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>ncommaaccent</string>
    <string>napostrophe</string>
    <string>uni1E25</string>
    <string>uni1E2B</string>
  </array>
  <key>@MMK_L_o</key>
  <array>
    <string>b</string>
    <string>o</string>
    <string>p</string>
    <string>germandbls</string>
    <string>eth</string>
    <string>oslash</string>
    <string>thorn</string>
    <string>f_b</string>
    <string>f_f_b</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ohungarumlaut</string>
    <string>odieresis</string>
    <string>ocircumflex</string>
    <string>omacron</string>
    <string>obreve</string>
    <string>otilde</string>
    <string>oslashacute</string>
  </array>
  <key>@MMK_L_o.sc</key>
  <array>
    <string>d.sc</string>
    <string>o.sc</string>
    <string>q.sc</string>
    <string>eth.sc</string>
    <string>dcroat.sc</string>
    <string>oslash.sc</string>
    <string>dcaron.sc</string>
    <string>ograve.sc</string>
    <string>oacute.sc</string>
    <string>ohungarumlaut.sc</string>
    <string>odieresis.sc</string>
    <string>ocircumflex.sc</string>
    <string>omacron.sc</string>
    <string>obreve.sc</string>
    <string>otilde.sc</string>
    <string>oslashacute.sc</string>
    <string>uni1E0C.sc</string>
    <string>uni1E0E.sc</string>
  </array>
  <key>@MMK_L_one.PPF</key>
  <array>
    <string>one.PPF</string>
  </array>
  <key>@MMK_L_ordmasculine</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
  </array>
  <key>@MMK_L_ordmasculine.sc</key>
  <array>
    <string>ordfeminine.sc</string>
    <string>ordmasculine.sc</string>
  </array>
  <key>@MMK_L_p.sc</key>
  <array>
    <string>p.sc</string>
  </array>
  <key>@MMK_L_parenleft</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>@MMK_L_parenleft.cap</key>
  <array>
    <string>parenleft.cap</string>
  </array>
  <key>@MMK_L_parenleft.sc</key>
  <array>
    <string>parenleft.sc</string>
  </array>
  <key>@MMK_L_parenright</key>
  <array>
    <string>parenright</string>
  </array>
  <key>@MMK_L_parenright.sc</key>
  <array>
    <string>parenright.sc</string>
  </array>
  <key>@MMK_L_period</key>
  <array>
    <string>period</string>
    <string>comma</string>
    <string>ellipsis</string>
  </array>
  <key>@MMK_L_question</key>
  <array>
    <string>question</string>
  </array>
  <key>@MMK_L_question.sc</key>
  <array>
    <string>question.sc</string>
  </array>
  <key>@MMK_L_questiondown</key>
  <array>
    <string>questiondown</string>
  </array>
  <key>@MMK_L_questiondown.sc</key>
  <array>
    <string>questiondown.sc</string>
  </array>
  <key>@MMK_L_quotedbl</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>@MMK_L_quotedbl.sc</key>
  <array>
    <string>quotesingle.sc</string>
    <string>quotedbl.sc</string>
  </array>
  <key>@MMK_L_quotedblbase</key>
  <array>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>@MMK_L_quotedblleft</key>
  <array>
    <string>quoteleft</string>
    <string>quotedblleft</string>
  </array>
  <key>@MMK_L_quotedblleft.sc</key>
  <array>
    <string>quoteleft.sc</string>
    <string>quotedblleft.sc</string>
  </array>
  <key>@MMK_L_quotedblright</key>
  <array>
    <string>quoteright</string>
    <string>quotedblright</string>
  </array>
  <key>@MMK_L_quotedblright.sc</key>
  <array>
    <string>quoteright.sc</string>
    <string>quotedblright.sc</string>
  </array>
  <key>@MMK_L_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>@MMK_L_r.sc</key>
  <array>
    <string>r.sc</string>
    <string>racute.sc</string>
    <string>rcaron.sc</string>
    <string>rcommaaccent.sc</string>
  </array>
  <key>@MMK_L_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>scedilla</string>
    <string>uni1E63</string>
  </array>
  <key>@MMK_L_s.sc</key>
  <array>
    <string>s.sc</string>
    <string>germandbls.sc</string>
    <string>sacute.sc</string>
    <string>scaron.sc</string>
    <string>scircumflex.sc</string>
    <string>scommaaccent.sc</string>
    <string>scedilla.sc</string>
    <string>uni1E62.sc</string>
  </array>
  <key>@MMK_L_sterling.PPF</key>
  <array>
    <string>sterling.PPF</string>
  </array>
  <key>@MMK_L_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tbar</string>
    <string>f_t</string>
    <string>t_t</string>
    <string>f_f_t</string>
    <string>tcommaaccent</string>
    <string>uni021B</string>
    <string>uni1E6D</string>
    <string>uni1E6F</string>
  </array>
  <key>@MMK_L_t.sc</key>
  <array>
    <string>t.sc</string>
    <string>tcaron.sc</string>
    <string>tcommaaccent.sc</string>
    <string>uni021B.sc</string>
    <string>uni1E6C.sc</string>
    <string>uni1E6E.sc</string>
  </array>
  <key>@MMK_L_trademark</key>
  <array>
    <string>trademark</string>
  </array>
  <key>@MMK_L_u</key>
  <array>
    <string>g</string>
    <string>q</string>
    <string>u</string>
    <string>gdotaccent</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gcommaaccent</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>uhungarumlaut</string>
    <string>udieresis</string>
    <string>ucircumflex</string>
    <string>umacron</string>
    <string>utilde</string>
    <string>ubreve</string>
    <string>uring</string>
    <string>uogonek</string>
    <string>uni01E7</string>
  </array>
  <key>@MMK_L_u.sc</key>
  <array>
    <string>u.sc</string>
    <string>uogonek.sc</string>
    <string>ugrave.sc</string>
    <string>uacute.sc</string>
    <string>uhungarumlaut.sc</string>
    <string>udieresis.sc</string>
    <string>ucircumflex.sc</string>
    <string>umacron.sc</string>
    <string>utilde.sc</string>
    <string>ubreve.sc</string>
    <string>uring.sc</string>
  </array>
  <key>@MMK_L_v</key>
  <array>
    <string>v</string>
    <string>y</string>
    <string>ygrave</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>ycircumflex</string>
  </array>
  <key>@MMK_L_v.sc</key>
  <array>
    <string>v.sc</string>
  </array>
  <key>@MMK_L_w</key>
  <array>
    <string>w</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wdieresis</string>
    <string>wcircumflex</string>
  </array>
  <key>@MMK_L_w.sc</key>
  <array>
    <string>w.sc</string>
    <string>wgrave.sc</string>
    <string>wacute.sc</string>
    <string>wdieresis.sc</string>
    <string>wcircumflex.sc</string>
  </array>
  <key>@MMK_L_x</key>
  <array>
    <string>x</string>
  </array>
  <key>@MMK_L_x.sc</key>
  <array>
    <string>x.sc</string>
  </array>
  <key>@MMK_L_y.sc</key>
  <array>
    <string>y.sc</string>
    <string>ygrave.sc</string>
    <string>yacute.sc</string>
    <string>ydieresis.sc</string>
    <string>ycircumflex.sc</string>
  </array>
  <key>@MMK_L_yen.PPF</key>
  <array>
    <string>yen.PPF</string>
  </array>
  <key>@MMK_L_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>zcaron</string>
    <string>uni1E93</string>
  </array>
  <key>@MMK_L_z.sc</key>
  <array>
    <string>z.sc</string>
    <string>zacute.sc</string>
    <string>zdotaccent.sc</string>
    <string>zcaron.sc</string>
    <string>uni1E92.sc</string>
  </array>
  <key>@MMK_R_A</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Adieresis</string>
    <string>Acircumflex</string>
    <string>Amacron</string>
    <string>Atilde</string>
    <string>Aring</string>
    <string>Abreve</string>
    <string>Aogonek</string>
  </array>
  <key>@MMK_R_Euro.PPF</key>
  <array>
    <string>Euro.PPF</string>
  </array>
  <key>@MMK_R_H</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>V</string>
    <string>Eth</string>
    <string>Dcroat</string>
    <string>Hbar</string>
    <string>IJ</string>
    <string>Lslash</string>
    <string>Ldot</string>
    <string>Lcaron</string>
    <string>Eng</string>
    <string>Thorn</string>
    <string>Dcaron</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Edotaccent</string>
    <string>Edieresis</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Emacron</string>
    <string>Ebreve</string>
    <string>Eogonek</string>
    <string>Hcircumflex</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Idieresis</string>
    <string>Icircumflex</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>Ibreve</string>
    <string>Iogonek</string>
    <string>Idotaccent</string>
    <string>Kcommaaccent</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Ncommaaccent</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>uni1E0C</string>
    <string>uni1E0E</string>
    <string>uni1E24</string>
    <string>uni1E2A</string>
  </array>
  <key>@MMK_R_J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>@MMK_R_O</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>Q</string>
    <string>OE</string>
    <string>Oslash</string>
    <string>Cacute</string>
    <string>Cdotaccent</string>
    <string>Ccircumflex</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Gdotaccent</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ohungarumlaut</string>
    <string>Odieresis</string>
    <string>Ocircumflex</string>
    <string>Omacron</string>
    <string>Obreve</string>
    <string>Otilde</string>
    <string>Oslashacute</string>
    <string>uni01E6</string>
  </array>
  <key>@MMK_R_S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Scedilla</string>
    <string>uni1E62</string>
  </array>
  <key>@MMK_R_T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>uni021A</string>
    <string>uni1E6C</string>
    <string>uni1E6E</string>
  </array>
  <key>@MMK_R_U</key>
  <array>
    <string>U</string>
    <string>Uogonek</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Uhungarumlaut</string>
    <string>Udieresis</string>
    <string>Ucircumflex</string>
    <string>Umacron</string>
    <string>Utilde</string>
    <string>Ubreve</string>
    <string>Uring</string>
  </array>
  <key>@MMK_R_W</key>
  <array>
    <string>W</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Wcircumflex</string>
  </array>
  <key>@MMK_R_X</key>
  <array>
    <string>X</string>
  </array>
  <key>@MMK_R_Y</key>
  <array>
    <string>Y</string>
    <string>Ygrave</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Ycircumflex</string>
  </array>
  <key>@MMK_R_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Zcaron</string>
    <string>uni1E92</string>
  </array>
  <key>@MMK_R_a</key>
  <array>
    <string>a</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>adieresis</string>
    <string>acircumflex</string>
    <string>amacron</string>
    <string>atilde</string>
    <string>aring</string>
    <string>abreve</string>
    <string>aogonek</string>
  </array>
  <key>@MMK_R_a.sc</key>
  <array>
    <string>a.sc</string>
    <string>ae.sc</string>
    <string>aeacute.sc</string>
    <string>agrave.sc</string>
    <string>aacute.sc</string>
    <string>adieresis.sc</string>
    <string>acircumflex.sc</string>
    <string>amacron.sc</string>
    <string>atilde.sc</string>
    <string>aring.sc</string>
    <string>abreve.sc</string>
    <string>aogonek.sc</string>
  </array>
  <key>@MMK_R_ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>@MMK_R_asterisk</key>
  <array>
    <string>asterisk</string>
  </array>
  <key>@MMK_R_asterisk.sc</key>
  <array>
    <string>asterisk.sc</string>
  </array>
  <key>@MMK_R_bar</key>
  <array>
    <string>bar</string>
    <string>brokenbar</string>
  </array>
  <key>@MMK_R_braceleft</key>
  <array>
    <string>braceleft</string>
  </array>
  <key>@MMK_R_braceleft.cap</key>
  <array>
    <string>braceleft.cap</string>
  </array>
  <key>@MMK_R_braceleft.sc</key>
  <array>
    <string>braceleft.sc</string>
  </array>
  <key>@MMK_R_braceright</key>
  <array>
    <string>braceright</string>
  </array>
  <key>@MMK_R_braceright.cap</key>
  <array>
    <string>braceright.cap</string>
  </array>
  <key>@MMK_R_braceright.sc</key>
  <array>
    <string>braceright.sc</string>
  </array>
  <key>@MMK_R_bracketleft</key>
  <array>
    <string>bracketleft</string>
  </array>
  <key>@MMK_R_bracketleft.cap</key>
  <array>
    <string>bracketleft.cap</string>
  </array>
  <key>@MMK_R_bracketleft.sc</key>
  <array>
    <string>bracketleft.sc</string>
  </array>
  <key>@MMK_R_bracketright</key>
  <array>
    <string>bracketright</string>
  </array>
  <key>@MMK_R_bracketright.cap</key>
  <array>
    <string>bracketright.cap</string>
  </array>
  <key>@MMK_R_bracketright.sc</key>
  <array>
    <string>bracketright.sc</string>
  </array>
  <key>@MMK_R_cent.PPF</key>
  <array>
    <string>cent.PPF</string>
  </array>
  <key>@MMK_R_colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_R_dagger</key>
  <array>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>@MMK_R_degree</key>
  <array>
    <string>degree</string>
  </array>
  <key>@MMK_R_degree.sc</key>
  <array>
    <string>degree.sc</string>
  </array>
  <key>@MMK_R_dollar.PPF</key>
  <array>
    <string>dollar.PPF</string>
  </array>
  <key>@MMK_R_exclam</key>
  <array>
    <string>exclam</string>
  </array>
  <key>@MMK_R_exclam.sc</key>
  <array>
    <string>exclam.sc</string>
  </array>
  <key>@MMK_R_exclamdown</key>
  <array>
    <string>exclamdown</string>
  </array>
  <key>@MMK_R_exclamdown.sc</key>
  <array>
    <string>exclamdown.sc</string>
  </array>
  <key>@MMK_R_f</key>
  <array>
    <string>f</string>
    <string>germandbls</string>
    <string>longs</string>
    <string>ff</string>
    <string>fi</string>
    <string>f_j</string>
    <string>fl</string>
    <string>f_b</string>
    <string>f_h</string>
    <string>f_k</string>
    <string>f_t</string>
    <string>ffi</string>
    <string>f_f_j</string>
    <string>ffl</string>
    <string>f_f_b</string>
    <string>f_f_h</string>
    <string>f_f_k</string>
    <string>f_f_t</string>
  </array>
  <key>@MMK_R_florin.PPF</key>
  <array>
    <string>florin.PPF</string>
  </array>
  <key>@MMK_R_guillemotleft</key>
  <array>
    <string>guilsinglleft</string>
    <string>guillemotleft</string>
  </array>
  <key>@MMK_R_guillemotleft.cap</key>
  <array>
    <string>guilsinglleft.cap</string>
    <string>guillemotleft.cap</string>
  </array>
  <key>@MMK_R_guillemotleft.sc</key>
  <array>
    <string>guilsinglleft.sc</string>
    <string>guillemotleft.sc</string>
  </array>
  <key>@MMK_R_guillemotright</key>
  <array>
    <string>guilsinglright</string>
    <string>guillemotright</string>
  </array>
  <key>@MMK_R_guillemotright.cap</key>
  <array>
    <string>guilsinglright.cap</string>
    <string>guillemotright.cap</string>
  </array>
  <key>@MMK_R_guillemotright.sc</key>
  <array>
    <string>guilsinglright.sc</string>
    <string>guillemotright.sc</string>
  </array>
  <key>@MMK_R_h.sc</key>
  <array>
    <string>b.sc</string>
    <string>d.sc</string>
    <string>e.sc</string>
    <string>f.sc</string>
    <string>h.sc</string>
    <string>i.sc</string>
    <string>k.sc</string>
    <string>l.sc</string>
    <string>n.sc</string>
    <string>p.sc</string>
    <string>r.sc</string>
    <string>v.sc</string>
    <string>ij.sc</string>
    <string>ldot.sc</string>
    <string>lcaron.sc</string>
    <string>eng.sc</string>
    <string>thorn.sc</string>
    <string>fi.sc</string>
    <string>fl.sc</string>
    <string>dcaron.sc</string>
    <string>egrave.sc</string>
    <string>eacute.sc</string>
    <string>edotaccent.sc</string>
    <string>edieresis.sc</string>
    <string>ecircumflex.sc</string>
    <string>ecaron.sc</string>
    <string>emacron.sc</string>
    <string>ebreve.sc</string>
    <string>eogonek.sc</string>
    <string>hcircumflex.sc</string>
    <string>igrave.sc</string>
    <string>iacute.sc</string>
    <string>idieresis.sc</string>
    <string>icircumflex.sc</string>
    <string>imacron.sc</string>
    <string>itilde.sc</string>
    <string>ibreve.sc</string>
    <string>iogonek.sc</string>
    <string>idotaccent.sc</string>
    <string>kcommaaccent.sc</string>
    <string>lacute.sc</string>
    <string>lcommaaccent.sc</string>
    <string>nacute.sc</string>
    <string>ncaron.sc</string>
    <string>ntilde.sc</string>
    <string>ncommaaccent.sc</string>
    <string>racute.sc</string>
    <string>rcaron.sc</string>
    <string>rcommaaccent.sc</string>
    <string>uni1E0C.sc</string>
    <string>uni1E0E.sc</string>
    <string>uni1E24.sc</string>
    <string>uni1E2A.sc</string>
  </array>
  <key>@MMK_R_hyphen</key>
  <array>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
  </array>
  <key>@MMK_R_hyphen.cap</key>
  <array>
    <string>hyphen.cap</string>
    <string>endash.cap</string>
    <string>emdash.cap</string>
  </array>
  <key>@MMK_R_hyphen.sc</key>
  <array>
    <string>hyphen.sc</string>
    <string>endash.sc</string>
    <string>emdash.sc</string>
  </array>
  <key>@MMK_R_j.sc</key>
  <array>
    <string>j.sc</string>
    <string>jcircumflex.sc</string>
  </array>
  <key>@MMK_R_l</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>dotlessi</string>
    <string>dotlessj</string>
    <string>hbar</string>
    <string>ij</string>
    <string>ldot</string>
    <string>lcaron</string>
    <string>thorn</string>
    <string>hcircumflex</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>idieresis</string>
    <string>icircumflex</string>
    <string>imacron</string>
    <string>itilde</string>
    <string>ibreve</string>
    <string>iogonek</string>
    <string>jcircumflex</string>
    <string>kcommaaccent</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
    <string>uni1E25</string>
    <string>uni1E2B</string>
  </array>
  <key>@MMK_R_n</key>
  <array>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
    <string>eng</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>ncommaaccent</string>
    <string>napostrophe</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>@MMK_R_o</key>
  <array>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>g</string>
    <string>o</string>
    <string>q</string>
    <string>ae</string>
    <string>oe</string>
    <string>eth</string>
    <string>dcroat</string>
    <string>dcaron</string>
    <string>oslash</string>
    <string>eogonek</string>
    <string>aeacute</string>
    <string>cacute</string>
    <string>cdotaccent</string>
    <string>ccircumflex</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>edotaccent</string>
    <string>edieresis</string>
    <string>ecircumflex</string>
    <string>ecaron</string>
    <string>emacron</string>
    <string>ebreve</string>
    <string>gdotaccent</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gcommaaccent</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ohungarumlaut</string>
    <string>odieresis</string>
    <string>ocircumflex</string>
    <string>omacron</string>
    <string>obreve</string>
    <string>otilde</string>
    <string>oslashacute</string>
    <string>uni01E7</string>
    <string>uni1E0D</string>
    <string>uni1E0F</string>
  </array>
  <key>@MMK_R_o.sc</key>
  <array>
    <string>c.sc</string>
    <string>g.sc</string>
    <string>o.sc</string>
    <string>q.sc</string>
    <string>oe.sc</string>
    <string>oslash.sc</string>
    <string>cacute.sc</string>
    <string>cdotaccent.sc</string>
    <string>ccircumflex.sc</string>
    <string>ccaron.sc</string>
    <string>ccedilla.sc</string>
    <string>gdotaccent.sc</string>
    <string>gcircumflex.sc</string>
    <string>gbreve.sc</string>
    <string>gcommaaccent.sc</string>
    <string>ograve.sc</string>
    <string>oacute.sc</string>
    <string>ohungarumlaut.sc</string>
    <string>odieresis.sc</string>
    <string>ocircumflex.sc</string>
    <string>omacron.sc</string>
    <string>obreve.sc</string>
    <string>otilde.sc</string>
    <string>oslashacute.sc</string>
    <string>uni01E6.sc</string>
  </array>
  <key>@MMK_R_one.PPF</key>
  <array>
    <string>one.PPF</string>
  </array>
  <key>@MMK_R_ordmasculine</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
  </array>
  <key>@MMK_R_ordmasculine.sc</key>
  <array>
    <string>ordfeminine.sc</string>
    <string>ordmasculine.sc</string>
  </array>
  <key>@MMK_R_parenleft</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>@MMK_R_parenleft.cap</key>
  <array>
    <string>parenleft.cap</string>
  </array>
  <key>@MMK_R_parenleft.sc</key>
  <array>
    <string>parenleft.sc</string>
  </array>
  <key>@MMK_R_parenright</key>
  <array>
    <string>parenright</string>
  </array>
  <key>@MMK_R_parenright.sc</key>
  <array>
    <string>parenright.sc</string>
  </array>
  <key>@MMK_R_period</key>
  <array>
    <string>period</string>
    <string>comma</string>
    <string>ellipsis</string>
  </array>
  <key>@MMK_R_question</key>
  <array>
    <string>question</string>
  </array>
  <key>@MMK_R_question.sc</key>
  <array>
    <string>question.sc</string>
  </array>
  <key>@MMK_R_questiondown</key>
  <array>
    <string>questiondown</string>
  </array>
  <key>@MMK_R_questiondown.sc</key>
  <array>
    <string>questiondown.sc</string>
  </array>
  <key>@MMK_R_quotedbl</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>@MMK_R_quotedbl.sc</key>
  <array>
    <string>quotesingle.sc</string>
    <string>quotedbl.sc</string>
  </array>
  <key>@MMK_R_quotedblbase</key>
  <array>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>@MMK_R_quotedblleft</key>
  <array>
    <string>quoteleft</string>
    <string>quotedblleft</string>
  </array>
  <key>@MMK_R_quotedblleft.sc</key>
  <array>
    <string>quoteleft.sc</string>
    <string>quotedblleft.sc</string>
  </array>
  <key>@MMK_R_quotedblright</key>
  <array>
    <string>quoteright</string>
    <string>quotedblright</string>
  </array>
  <key>@MMK_R_quotedblright.sc</key>
  <array>
    <string>quoteright.sc</string>
    <string>quotedblright.sc</string>
  </array>
  <key>@MMK_R_s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>scedilla</string>
    <string>uni1E63</string>
  </array>
  <key>@MMK_R_s.sc</key>
  <array>
    <string>s.sc</string>
    <string>germandbls.sc</string>
    <string>sacute.sc</string>
    <string>scaron.sc</string>
    <string>scircumflex.sc</string>
    <string>scommaaccent.sc</string>
    <string>scedilla.sc</string>
    <string>uni1E62.sc</string>
  </array>
  <key>@MMK_R_sterling.PPF</key>
  <array>
    <string>sterling.PPF</string>
  </array>
  <key>@MMK_R_t</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tbar</string>
    <string>t_t</string>
    <string>t_f</string>
    <string>tcommaaccent</string>
    <string>uni021B</string>
    <string>uni1E6D</string>
    <string>uni1E6F</string>
  </array>
  <key>@MMK_R_t.sc</key>
  <array>
    <string>t.sc</string>
    <string>tcaron.sc</string>
    <string>tcommaaccent.sc</string>
    <string>uni021B.sc</string>
    <string>uni1E6C.sc</string>
    <string>uni1E6E.sc</string>
  </array>
  <key>@MMK_R_trademark</key>
  <array>
    <string>trademark</string>
  </array>
  <key>@MMK_R_u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>uhungarumlaut</string>
    <string>udieresis</string>
    <string>ucircumflex</string>
    <string>umacron</string>
    <string>utilde</string>
    <string>ubreve</string>
    <string>uring</string>
    <string>uogonek</string>
  </array>
  <key>@MMK_R_u.sc</key>
  <array>
    <string>u.sc</string>
    <string>uogonek.sc</string>
    <string>ugrave.sc</string>
    <string>uacute.sc</string>
    <string>uhungarumlaut.sc</string>
    <string>udieresis.sc</string>
    <string>ucircumflex.sc</string>
    <string>umacron.sc</string>
    <string>utilde.sc</string>
    <string>ubreve.sc</string>
    <string>uring.sc</string>
  </array>
  <key>@MMK_R_v</key>
  <array>
    <string>v</string>
    <string>y</string>
    <string>ygrave</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>ycircumflex</string>
  </array>
  <key>@MMK_R_w</key>
  <array>
    <string>w</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wdieresis</string>
    <string>wcircumflex</string>
  </array>
  <key>@MMK_R_w.sc</key>
  <array>
    <string>w.sc</string>
    <string>wgrave.sc</string>
    <string>wacute.sc</string>
    <string>wdieresis.sc</string>
    <string>wcircumflex.sc</string>
  </array>
  <key>@MMK_R_x</key>
  <array>
    <string>x</string>
  </array>
  <key>@MMK_R_x.sc</key>
  <array>
    <string>x.sc</string>
  </array>
  <key>@MMK_R_y.sc</key>
  <array>
    <string>y.sc</string>
    <string>ygrave.sc</string>
    <string>yacute.sc</string>
    <string>ydieresis.sc</string>
    <string>ycircumflex.sc</string>
  </array>
  <key>@MMK_R_yen.PPF</key>
  <array>
    <string>yen.PPF</string>
  </array>
  <key>@MMK_R_z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>zcaron</string>
    <string>uni1E93</string>
  </array>
  <key>@MMK_R_z.sc</key>
  <array>
    <string>z.sc</string>
    <string>zacute.sc</string>
    <string>zdotaccent.sc</string>
    <string>zcaron.sc</string>
    <string>uni1E92.sc</string>
  </array>
  <key>_SC_Thorn_Left</key>
  <array>
    <string>thorn.sc</string>
  </array>
  <key>_SC_ampersand</key>
  <array>
    <string>ampersand.sc</string>
  </array>
  <key>_SC_trademark</key>
  <array>
    <string>trademark.sc</string>
  </array>
  <key>_UC_parenright</key>
  <array>
    <string>parenright.cap</string>
  </array>
  <key>_V_left</key>
  <array>
    <string>V</string>
  </array>
  <key>_eight.PPF</key>
  <array>
    <string>eight.PPF</string>
  </array>
  <key>_eight.oldstyle</key>
  <array>
    <string>eight.oldstyle</string>
  </array>
  <key>_eight.scppf</key>
  <array>
    <string>eight.scppf</string>
  </array>
  <key>_five.PPF</key>
  <array>
    <string>five.PPF</string>
  </array>
  <key>_five.oldstyle</key>
  <array>
    <string>five.oldstyle</string>
  </array>
  <key>_five.scppf</key>
  <array>
    <string>five.scppf</string>
  </array>
  <key>_four.PPF</key>
  <array>
    <string>four.PPF</string>
  </array>
  <key>_four.oldstyle</key>
  <array>
    <string>four.oldstyle</string>
  </array>
  <key>_four.scppf</key>
  <array>
    <string>four.scppf</string>
  </array>
  <key>_nine.PPF</key>
  <array>
    <string>nine.PPF</string>
  </array>
  <key>_nine.oldstyle</key>
  <array>
    <string>nine.oldstyle</string>
  </array>
  <key>_nine.scppf</key>
  <array>
    <string>nine.scppf</string>
  </array>
  <key>_one.oldstyle</key>
  <array>
    <string>one.oldstyle</string>
  </array>
  <key>_one.scppf</key>
  <array>
    <string>one.scppf</string>
  </array>
  <key>_seven.PPF</key>
  <array>
    <string>seven.PPF</string>
  </array>
  <key>_seven.oldstyle</key>
  <array>
    <string>seven.oldstyle</string>
  </array>
  <key>_seven.scppf</key>
  <array>
    <string>seven.scppf</string>
  </array>
  <key>_six.PPF</key>
  <array>
    <string>six.PPF</string>
  </array>
  <key>_six.oldstyle</key>
  <array>
    <string>six.oldstyle</string>
  </array>
  <key>_six.scppf</key>
  <array>
    <string>six.scppf</string>
  </array>
  <key>_three.PPF</key>
  <array>
    <string>three.PPF</string>
  </array>
  <key>_three.oldstyle</key>
  <array>
    <string>three.oldstyle</string>
  </array>
  <key>_three.scppf</key>
  <array>
    <string>three.scppf</string>
  </array>
  <key>_two.PPF</key>
  <array>
    <string>two.PPF</string>
  </array>
  <key>_two.oldstyle</key>
  <array>
    <string>two.oldstyle</string>
  </array>
  <key>_two.scppf</key>
  <array>
    <string>two.scppf</string>
  </array>
  <key>_zero.PPF</key>
  <array>
    <string>zero.PPF</string>
    <string>slashedzero.PPF</string>
  </array>
  <key>_zero.oldstyle</key>
  <array>
    <string>zero.oldstyle</string>
    <string>slashedzero.oldstyle</string>
  </array>
  <key>_zero.scppf</key>
  <array>
    <string>zero.scppf</string>
    <string>slashedzero.scppf</string>
  </array>
</dict>
</plist>
