<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.bowl-ar</key>
    <string>_part.bowl-ar.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>hah-ar.fina.h2</key>
    <string>hah-ar.fina.h2.glif</string>
    <key>hah-ar.fina.short.h2</key>
    <string>hah-ar.fina.short.h2.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>ring_ar</key>
    <string>ring_ar.glif</string>
    <key>shadda_fatha-ar</key>
    <string>shadda_fatha-ar.glif</string>
  </dict>
</plist>
